*{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


div {
    border: 1px black solid;
    height: 10rem;
    width: 10rem;
    margin: auto;
    padding: 0.5rem;

}
img {
    width: 9.5rem;
    margin: 0.2rem;
}

p {
    
    width: 100px;
    height: 50px;

}